*{
    box-sizing: border-box;
    font-family: Roboto,sans-serif; 
    padding: 0;
    margin: 0;   
}

body{
    background-color: #00593c;
    background-image: url(./assets/background.svg);
    background-repeat:repeat-x;
    background-size: 28vw;
    
    margin: 0;
    color: black;
    position: relative;

}

header{
    position: sticky;
    top: 0;
    width: 100vw;
    height: calc(137vh - 360px);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-height: 16.625rem;
    height: calc(100% - 3rem);
    max-height: 30rem;

    filter: drop-shadow(0 4px 4px rgba(0,0,0,.4));
    object-fit: contain;
}



.App{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    height: 100vh;
    min-height: 100vh;
    
}



@media (max-width: 1024px){
    body{
        background-image: url(./assets/background.svg);
        background-repeat: repeat-x;
        background-attachment: local;
        background-size:100%;
    }

    img{
        width: 60vw;
    }


    .App{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .App form{
        align-items: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    button{
        max-width: 21.87rem;
    }

    .container h1{
        margin-left: -1.5vw;
    }

    .container span{
        margin-left: 1vw;
    }

}
